doctype html
html
  head
    meta charset='utf-8'
    title Nikita Nikitin
    meta name="description" content="Site is under construction. It will be available this month."
    meta name="author" content="Nikita Nikitin"
    meta name="viewport" content="user-scalable=no  "
    link rel='stylesheet' type='text/css' href='style.css'
    script src='jquery-1.3.2.min.js'
    javascript:
      playShadows=function(e,t){m=2.534345;s1m=10;s2m=7;v=t?{x:1.5,y:.95}:{x:1,y:.45};e.x=e.x>v.x?v.x:e.x;e.x=e.x<-v.x?-v.x:e.x;e.y=e.y>v.y?v.y:e.y;e.y=e.y<-v.y?-v.y:e.y;$("#s1").css({marginTop:e.y*s1m,marginLeft:e.x*s1m});$("#s2").css({marginTop:-e.y*s2m,marginLeft:-e.x*s2m});$("#m").css({marginTop:e.y*m,marginLeft:e.x*m})};gyro.frequency=1;gyro.startTracking(function(e){if(e.x!=null)playShadows(e,true)});$(window).mousemove(function(e){target=$("div#m");e.tX=target.offset().left+target.width()/2;e.tY=target.offset().top+target.height()/2;sb=.018;playShadows({x:sb*(e.tX-e.clientX),y:sb*(e.tY-e.clientY)},false)})
  body
    div.c
      div#s2 Site is under construction. <br/> It will be available this month.
      div#s1 Site is under construction. <br/> It will be available this month.
      div#m Site is under construction. <br/> It will be available this month.