<<<<<<< HEAD
*
	padding: 0
	margin: 0
body
	background: #fff

$wd: 680px
$ht: 69px
.wrapper
	height: 100%
	width: 100%
	max-width: $wd
	max-height: $ht
	margin: 0 auto
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPjZ-nialZdMAOqDnpxM-6F7kRjcXjLvXjVolp01RWZhN57sNxag)
	margin-top: 5%
	position: relative
.overlay
	position: absolute
	width: $wd
	height: $ht
	background: url('namr.svg') 100% 100% no-repeat
=======
@import "compass/css3"
*
  margin: 0
  padding: 0
.first-slide
  background: black
  padding-top: 5% 
  .bg
    width: 100%
    height: 300px
    overflow: hidden
    background: url(bg.png) center center repeat fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    +box-shadow(inset 0 0 100px 50px black)
  .logowr
    position: absolute
    z-index: 3
    width: 100%
    text-align: center 
    .logo
      display: inline-block
      max-width: 100%
      margin-left: -50px
.second-slide
  background: #000
  height: 500px
>>>>>>> 120f6b9fa1c96747cd5aed37bc395947aff72353
