*
	padding: 0
	margin: 0
body
	background: #fff

$wd: 680px
$ht: 69px
.wrapper
	height: 100%
	width: 100%
	max-width: $wd
	max-height: $ht
	margin: 0 auto
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPjZ-nialZdMAOqDnpxM-6F7kRjcXjLvXjVolp01RWZhN57sNxag)
	margin-top: 5%
	position: relative
.overlay
	position: absolute
	width: $wd
	height: $ht
	background: url('namr.svg') 100% 100% no-repeat