@import "compass/css3"
*
  margin: 0
  padding: 0
.first-slide
  background: black
  padding-top: 5% 
  .bg
    width: 100%
    height: 300px
    overflow: hidden
    background: url(bg.png) center center repeat fixed
    -webkit-background-size: cover
    -moz-background-size: cover
    -o-background-size: cover
    background-size: cover
    +box-shadow(inset 0 0 100px 50px black)
  .logowr
    position: absolute
    z-index: 3
    width: 100%
    text-align: center 
    .logo
      display: inline-block
      max-width: 100%
      margin-left: -50px
.second-slide
  background: #000
  height: 500px