@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i,
center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol, ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption, th, td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q, blockquote {
    quotes: none
}

q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary {
    display: block
}

a, a:hover, a:visited {
    color: #2d7ddc
}

strong {
    font-weight: bold
}

html, body {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 16px;
    background: #eff3f7;
    color: #414141;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.container {
    margin: 0 auto;
    width: 800px;
    margin-top: 100px;
    padding-bottom: 100px
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .container {
        width: 400px
    }
}

.container h1 {
    font-size: 32px;
    margin-bottom: 5px
}

.container span.city {
    font-weight: 100
}

.container img.userpic {
    float: left;
    margin-right: 17px;
    margin-top: -5px
}

.container .main_links {
    margin: 10px 0
}

.left_s {
    margin-left: 92px
}

.left_s p.descr {
    width: 230px;
    font-size: 14px;
    margin-top: 18px;
    margin-bottom: 10px;
    line-height: 18px
}

.left_s .dribbble p.descr {
    width: 210px
}

.blc {
    margin-bottom: 20px
}

a.button {
    width: 243px;
    margin-left: -20px;
    height: 34px;
    display: block;
    font-size: 14px;
    border: 1px solid #eff3f7;
    margin-bottom: 3px;
    outline: none;
    text-decoration: none;
    border: 1px solid #eff3f7;
    -webkit-box-shadow: 0 0 0 3px #eff3f7;
    -moz-box-shadow: 0 0 0 3px #eff3f7;
    box-shadow: 0 0 0 3px #eff3f7;
    background: #d1e1f4 url(button.png) no-repeat;
    background-size: cover;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    a.button {
        background-image: url(button@2x.png);
        background-size: 243px 34px
    }
}

a.button span {
    display: block;
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 20px;
    color: inherit;
    background: url(icons.png) no-repeat
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5), only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    a.button span {
        background-image: url(icons@2x.png);
        background-size: 19px 211px
    }
}

a.button:hover, a.button:focus {
    background-color: #2d7ddc
}

a.button.blog span {
    background-position: 0 1px
}

a.button.email span {
    background-position: 1px -22px
}

a.button.github {
    color: #414141;
    background-color: #d4d8dd
}

a.button.github span {
    background-position: 1px -49px
}

a.button.github:hover, a.button.github:focus {
    background-color: #414141
}

a.button.dribbble {
    color: #e93277;
    background-color: #edd9e8
}

a.button.dribbble span {
    background-position: 0 -70px
}

a.button.dribbble:hover, a.button.dribbble:focus {
    background-color: #e93277
}

a.button.soundcloud {
    color: #f70;
    background-color: #f0dcd4
}

a.button.soundcloud span {
    background-position: -3px -90px
}

a.button.soundcloud:hover, a.button.soundcloud:focus {
    background-color: #f70
}

a.button.twitter {
    color: #0093c7;
    background-color: #cae4f1
}

a.button.twitter span {
    background-position: 0 -109px
}

a.button.twitter:hover, a.button.twitter:focus {
    background-color: #0093c7
}

a.button.instagram {
    color: #7a461e;
    background-color: #dcd8d8
}

a.button.instagram span {
    background-position: 0 -128px
}

a.button.instagram:hover, a.button.instagram:focus {
    background-color: #7a461e
}

a.button.lastfm {
    color: #de001e;
    background-color: #ebced7
}

a.button.lastfm span {
    background-position: 0 -148px
}

a.button.lastfm:hover, a.button.lastfm:focus {
    background-color: #de001e
}

a.button.tumblr {
    color: #3373a9;
    background-color: #d2dfec
}

a.button.tumblr span {
    background-position: 0 -170px
}

a.button.tumblr:hover, a.button.tumblr:focus {
    background-color: #3373a9
}

a.button.pinterest {
    color: #c4001f;
    background-color: #e7ced8
}

a.button.pinterest span {
    background-position: 0 -196px
}

a.button.pinterest:hover, a.button.pinterest:focus {
    background-color: #c4001f
}

